/*DEV*/
/*#toolbar-administration{*/
/*  display: none;*/
/*}*/
/*body.toolbar-tray-open.toolbar-vertical.toolbar-fixed{*/
/*  margin-left: 0;*/
/*}*/
/*DEV*/

a:hover {
  text-decoration: none;
}

a.txt-white:hover {
  color: white;
}

a.txt-black:hover {
  color: black;
}

a.txt-violet:hover{
  color: #821553;
}

h1 {
  color: #128387;
  font-weight: bold;
}

h2 {
  font-size: 2.2rem;
}

h1, h2 {
  font-family: "Lato Light";
  text-transform: uppercase;
}

h4, h5 {
  color: #128387;
}

.roboto {
  font-family: 'Roboto Regular';
}

.pacifico {
  font-family: "Pacifico";
  text-transform: none;
  font-size: 3.5rem;
}

.logo_1{
  max-width: 30%;
}

.logo_2{
  max-width: 60%;
}

.bg-blue {
  background: #3DC1CA;
}

.bg-blue-light {
  background: #128387;
}

.bg-blue-light-light {
  background: #6ED1D7;
}

.bg-black-light {
  background: #333333;
}

.bg_white {
  background: white;
}

.bg-pink {
  background: #CD3F8F;
}

.bg-violet {
  background: #821553;
}

.bg-gray-light {
  background: #e0e0e0;
}

.txt-blue {
  color: #128387;
}

.txt-blue-light {
  color: #5ACAD2;
}

.txt-white {
  color: white;
}

.txt-violet {
  color: #821553;
}

.txt-black {
  color: #333;
}

.font-small {
  font-size: 0.9rem;
}

.border {
  border-bottom: 1px solid #707070 !important;
}

.border-white {
  border-bottom: 1px solid #ffffff;
}

.border-top-white {
  border-top: 1px solid #ffffff;
}

.banniere_header {
  /*background: url("../images/bandeau-abeille.png");*/
  background-size: cover;
  min-height: 140px;
}

.banniere_header h1 .fisrt_letter_title {
  font-size: 7rem;
}

.banniere_header h1 {
  font-size: 5rem;
  color: white;
  font-family: 'Roboto Medium';
}

#main-menu .item-menu a {
  color: white;
}

#main-menu .item-menu:hover,
#main-menu .item-menu.active {
  background: white;
}

#main-menu .item-menu:hover a,
#main-menu .item-menu.active a {
  color: #128387;
}

#main-menu a {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-family: "Lato Regular";
}

#main-menu .last_item{
  background: #821553;
}

#main-menu .last_item a{
  font-family: "Pacifico";
  text-transform: none;
  font-size: 1rem;
  line-height: 1;
}

.sub-menu {
  display: none;
}

.sub-menu-item {
  width: 18%;
  margin: 15px 1% 0 1%;
  text-align: center;
  float: left;
}

.sub-menu-item img {
  max-width: 100%;
}

#main-menu .sub-menu-item .sub-sub-menu-item a {
  font-weight: normal;
  font-size: 0.7rem;
}

#main-menu .sub-menu-item a {
  color: #128387;
  font-weight: bold;
  font-size: 0.8rem;
}

.chapo {
  font-weight: bold;
}

.thumb_diapo {
  border: 5px solid #128387;
}

.thumb_diapo:hover {
  border-color: #821553;
}

.row-fichier-liens {
  border-bottom: 1px solid white;
}

.row-fichier-liens a {
  color: white;
}

.grid-item {
  width: 260px;
  margin-bottom: 20px;
}

.masonry {
  margin: auto;
}

.infos-object {
  color: #ffffff;
  background: #128387;
  padding: 0;
  line-height: 1.2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.5s;
  text-align: justify;
}

.infos-object:hover {
  opacity: 1;
  transition: 0.5s;
}

.slick-prev:before, .slick-next:before {
  color: #128387;
}

.btn-outline-info {
  color: #821553;
  border-color: #821553;
}

.btn-outline-info:hover {
  background-color: #821553;
  border-color: #821553;
}

.btn-outline-info.actif {
  background-color: #821553;
  border-color: #821553;
  color: white;
}

.btn-outline-info:not(:disabled):not(.disabled):active, .show > .btn-outline-info.dropdown-toggle {
  background-color: #821553;
  border-color: #821553;
  color: white;
}

.btn-outline-info:focus,
.btn-outline-info:not(:disabled):not(.disabled):active:focus {
  box-shadow: none;
}

.btn-outline-secondary {
  color: #128387;
  border-color: #128387;
}

.btn-outline-secondary:hover {
  background-color: #128387;
  border-color: #128387;
}

.btn-outline-secondary.actif {
  background-color: #128387;
  border-color: #128387;
  color: white;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active, .show > .btn-outline-info.dropdown-toggle {
  background-color: #128387;
  border-color: #128387;
  color: white;
}

.btn-outline-secondary:focus,
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus {
  box-shadow: none;
}

/**/
.btn-outline-submit {
  background-color: #821553;
  border-color: #821553;
  color: white;
}

.btn-outline-submit:hover {
  background-color: white;
  color: #821553;
}

.btn-outline-submit.actif {
  background-color: #821553;
  border-color: #821553;
  color: white;
}

.btn-outline-submit:not(:disabled):not(.disabled):active, .show > .btn-outline-submit.dropdown-toggle {
  background-color: #821553;
  border-color: #821553;
  color: white;
}

.btn-outline-submit:focus,
.btn-outline-submit:not(:disabled):not(.disabled):active:focus {
  box-shadow: none;
}

/**/
.select2-container .select2-selection--multiple {
  height: calc(2.25rem + 2px);
  border: 1px solid #821553;
  border-radius: .25rem;
}

.form-control {
  border: 1px solid #821553;
}

.form-control.quiz {
  color: #821553;
}

.form-control.quiz.label-ok {
  background: #821553;
  color: white;
}

.input-group-text {
  background: #821553;
  border: 1px solid #821553;
}

#webform-submission-agenda-add-form label {
  color: #821553;
  font-weight: bold;
}

.infos_theme {
  border-bottom: 1px solid white;
}

.content-image {
  margin-top: -200px;
  position: relative;
}

.content-image-quiz {
  margin-top: -200px;
  position: relative;
  border-radius: 20px;
}

.content-image-aventure {
  margin-top: -50px;
  position: relative;
  border-radius: 20px;
}

h2.bloc_close,
h2.bloc_open {
  cursor: pointer;
}

.bloc_close img {
  transform: rotate(180deg);
}

.align-left.embedded-entity {
  margin-right: 15px;
}

#block-museum-local-tasks a {
  color: white;
}

.list-inline-item:not(:last-child) {
  margin-right: 0;
}

#block-archives-local-tasks ul.btn-group {
  padding: 0;
}

#block-museum-local-tasks {
  position: fixed;
  bottom: 0;
  left: 10px;
  z-index: 1000;
}

.js-form-type-radio {
  float: left;
  margin-right: 20px;
}

.render_entity img {
  max-width: 100%;
  height: auto;
}

.border-bt-bleu {
  border-bottom: 1px solid #128387;
}

.border-br-bleu {
  border-right: 1px solid #128387;
}

.border-bb-bleu {
  border-bottom: 1px solid #128387;
}

.savoir-right {
  bottom: 0;
  right: 0;
}

.gray-hover:hover .card-body {
  background: #333;
  transition: 0.7s;
}

.gray-hover .card-body {
  transition: 0.5s;
}

.gray-hover:hover img {
  filter: grayscale(1);
  transition: 0.7s;
}

.gray-hover:hover .txt-black{
  color: #128387;
}

.gray-hover:hover .txt-blue{
  color: black;
}

.gray-hover img {
  transition: 0.5s;
}

.btn-histoire {
  bottom: 0;
}

.type-node {
  left: 0;
  bottom: 0;
}

.fancy-icon {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

a.fancybox,
a.fancybox h5
{
  color: black;
}

a.fancybox:hover,
a.fancybox:hover > h5{
  color: #128387;
}

.pager a {
  color: black;
}

.pager a:hover {
  color: black;
}

.carousel-control-next, .carousel-control-prev{
  width: auto;
}

.carousel-control-next-icon {
  background-image: url("../images/next.png");
}

.carousel-control-prev-icon {
  background-image: url("../images/prev.png");
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-position: center center;
  width: 40px;
  height: 40px;
}

.rs_home{
  background-image: url("../images/fond-reseaux.png");
  background-position: center center;
  background-size: cover;
}

.secret{
  width: 1.4rem;
  height: 30px;
  margin: 0 5px 0 0;
  text-align: center;
  text-transform: uppercase;
}

#results a{
  color: black;
}

#toolbar{
  background: white;
  position: fixed;
  right: 0;
  top: 250px;
  z-index: 1040;
}

#modal-search{
  cursor: pointer;
}

.tooltip-inner{
  text-transform: uppercase;
  padding: 5px 15px;
}

.carousel-caption{
  left: 5%;
  right: auto;
}

.list-group-item{
  background: #3DC1CA;
  padding-left: 0;
}

.select2-container {
  margin-top: 0.25rem;
}

.form-required::after {
  content: ' *';
  color: red;
}

.banniere{
  background: white;
  min-height: 200px;
}

.align-center.embedded-entity{
  text-align: center;
}

#header-blog{
  background-image: url("../images/header_blog.png");
  background-position: center center;
  background-size: cover;
  min-height: 650px;
}

#header-blog-mobile{
  background-image: url("../images/header_blog_mobile.png");
}

#edit-preview{
  display: none;
}

@media (max-width: 992px) {

}

@media (max-width: 768px){
  #main-menu .item-menu {
    text-align: left;
    border-bottom: 1px solid white;
  }

  .sub-menu {
    display: block;
  }

  .sub-menu-item {
    width: 100%;
    margin: 0%;
    text-align: left;
  }
}

@media (max-width: 576px) {
  .content-image {
    margin-top: 0;
  }
}
