<div id="search-block" class="modal fade">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <form action="/recherche">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupPrepend2">
                            <img class="mr-1 mb-1" width="25" src="/{{ directory }}/images/search.png">
                        </span>
                    </div>
                    <input id="input_search" name="search" type="text" class="form-control form-control-lg"
                           autocomplete="off">
                </div>
                <div id="results"></div>

            </form>
        </div>
    </div>
</div>
