{% include directory ~ '/templates/includes/header-blog.html.twig' %}

<div class="alert-success text-align-center font-weight-bold container-fluid p-0 m-auto">
  {{ page.alert }}
</div>

<div class="container-fluid content px-0">
    {{ page.content }}
</div>

<div class="container-fluid bottom-content m-0 p-0 bg-blue">
    {{ page.bottom_content }}
</div>

<div class="container-fluid">
  {{ page.tabs }}
</div>

{% include directory ~ '/templates/includes/footer.html.twig' %}
