<div class="container">
  <h2>Les expositions</h2>

  <div class="row">
    {% for expo in var.expos %}
      <div class="col-lg-4">
        <a href="{{ expo.url }}">
          {% set media = getMediaInfos(expo.visuel_id, 'large') %}
          <img class="w-100" title="{{ media.name }}" src="{{ media.url }}">
          <h3 class="">{{ expo.title }}</h3>
        </a>
      </div>
    {% endfor %}
  </div>

</div>
