{% if breadcrumb %}
  <div class="container p-0">
    <nav role="navigation" aria-labelledby="system-breadcrumb">
      <ol class="breadcrumb p-2 m-0">
        {% for item in breadcrumb %}
          {% if item.url %}
            <li class="breadcrumb-item">
              <a href="{{ item.url }}">{{ item.text }}</a>
            </li>
          {% else %}
            <li class="breadcrumb-item active" aria-current="page">
              {{ item.text }}
            </li>
          {% endif %}
        {% endfor %}
      </ol>
    </nav>
  </div>
{% endif %}
