{% if breadcrumb %}
  <div class="container mb-4 pt-2 d-md-block d-sm-none d-none" id="breadcrumb-wrapper">
    <div class="row align-items-center">
      <div class="col-10">
        <nav role="navigation" aria-labelledby="system-breadcrumb">
          <ol class="breadcrumb p-0 m-0">
            {% for item in breadcrumb %}
              {% if item.url %}
                <li class="breadcrumb-item">
                  <a href="{{ item.url }}">{{ item.text }}</a>
                </li>
              {% else %}
                <li class="breadcrumb-item active" aria-current="page">
                  {{ item.text }}
                </li>
              {% endif %}
            {% endfor %}
          </ol>
        </nav>
      </div>
      <div class="col-2 text-align-right">
        <span id="modal-share" class="btn share-breadcrumb" data-toggle="modal" data-target="#share_modal">
        <i class="fas fa-share-alt"></i>
        </span>
      </div>
    </div>
  </div>
{% endif %}
