{% for item in items %}
    {% set media = bamboo_load_entity('media', item.content['#options']['entity'].vid.value) %}
    {% set file = media.field_media_file.entity %}
    {% set uri = file_url(file.uri.value) %}
    <div class="row row-fichier-liens py-2">
        <div class="col-lg-6">
            {{ item.content['#title'] }}
        </div>
        <div class="col-lg-6">
            <a href="{{ uri }}" target="_blank">
                <img class="mr-1" width="20" src="/{{ directory }}/images/file-ico.png">
                Télécharger
            </a>
        </div>
    </div>
{% endfor %}
